@charset "UTF-8";
:root {
  --container-width: 119rem;
  --gutter: 2rem;
  --color-black: #000;
  --color-white: #fff;
  --color-blue: #2374e1;
  --color-light-blue: #1d9bf0;
  --color-dark-blue: #0a66c2;
  --color-darker-blue: #143ce8;
  --color-red: #ff0000;
  --color-green: #03a696;
  --color-grey: #f6f6f6;
  --color-dark-green: #42959b;
  --color-background: var(--color-white);
  --color-text: var(--color-black);
  --color-box-img: var(--color-black);
  --color-link-bg: var(--color-black);
  --color-input-border: var(--color-black);
  --font-family-raleway: "Raleway", sans-serif;
  --font-family-poppins: "Poppins", sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-size-70: 7rem;
  --font-size-65: 6.5rem;
  --font-size-40: 4rem;
  --font-size-38: 3.8rem;
  --font-size-24: 2.4rem;
  --font-size-22: 2.2rem;
  --font-size-20: 2rem;
  --font-size-18: 1.8rem;
  --font-size-15: 1.5rem;
  --transition-timing: 0.3s;
}

/* css reset*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
*::before *::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}
/*end css reset */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 11rem;
}

body,
[type="submit"] {
  font-size: 1.6rem;
  font-family: var(--font-family-raleway);
  background-color: var(--color-background);
  color: var(--color-text);
  border: 0;
}
.container {
  display: grid;
  row-gap: 11rem;
  margin: 0 auto;
  max-width: var(--container-width);
  padding-inline: var(--gutter);
}

.video-loop {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.08;
  z-index: -1;
}

/* global style*/

.section {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: start;
}

.section--with-bg {
  padding: 11rem 0;
}

.section--with-bg::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100vw;
  background-color: var(--color-grey);
  justify-self: center;
  z-index: -1;
}

.h2-heading {
  font-size: var(--font-size-65);
  font-weight: var(--font-weight-bold);
  grid-column: 1/-1;
  margin-bottom: 8.7rem;
  text-transform: uppercase;
}

.h3-heading {
  font-size: var(--font-size-38);
  font-weight: var(--font-weight-bold);
  margin-bottom: 2.5rem;
}

/*end global style*/

.header {
  position: sticky;
  top: 0;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  background-color: var(--color-background);
  z-index: 1;
}

.header::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100vw;
  border-bottom: 0.1rem solid var(--color-input-border);
  top: 0;
  z-index: -1;
  background-color: var(--color-background);
}

.navigation {
  transition: var(--transition-timing);
}

.navigation--list {
  display: flex;
  gap: 2rem;
}

.navigation--link,
.navigation--link:visited {
  text-decoration: none;
  font-weight: var(--font-weight-medium);
}

.navigation--link:hover,
.navigation--link:active {
  text-decoration: underline;
  color: var(--color-text);
}

.container:has(.bio:target) .navigation--bio,
.container:has(.skills:target) .navigation--skills,
.container:has(.certificates:target) .navigation--certificates,
.container:has(.media:target) .navigation--media,
.container:has(.projects:target) .navigation--projects,
.container:has(.clients:target) .navigation--clients,
.container:has(.contact:target) .navigation--contact {
  color: var(--color-blue);
  text-decoration: underline;
  font-weight: var(--font-weight-bold);
}

.burger-menue--checkbox {
  display: none;
}

/* Toggle */
.toggle {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

.toggle--title {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-18);
}

.toggle--checkbox {
  display: none;
}

.toggle--label {
  display: block;
  position: relative;
  background-color: var(--color-black);
  border-radius: 1.5rem;
  width: 4.5rem;
  height: 2.2rem;
  cursor: pointer;
  padding: 0.3rem 0.4rem;
  transition: 0.3s;
}

.toggle--label::after {
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  display: block;
  background-color: var(--color-white);
  transition: 0.3s;
}

.toggle--checkbox:checked + .toggle--label {
  background-color: var(--color-white);
}

.toggle--checkbox:checked + .toggle--label::after {
  transform: translateX(2.1rem);
  background-color: var(--color-green);
}
/* End Toggle */

/* Bio */

.bio {
  column-gap: 7.4rem;
  grid-template-columns: repeat(2, 1fr);
}

.bio--heading {
  font-size: var(--font-size-70);
  font-weight: var(--font-weight-bold);
}

.bio--objective {
  font-family: var(--font-family-poppins);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-20);
  margin: 3rem 0 8rem;
}

.bio--name {
  font-weight: var(--font-weight-semi-bold);
}

.bio--almdrasa {
  color: var(--color-green);
}

.bio--facebook {
  color: var(--color-blue);
}

.bio--links {
  font-size: 2.4rem;
  font-weight: var(--font-weight-semi-bold);
  text-decoration: none;
}
.say-hi-link {
  background-color: var(--color-link-bg);
  color: var(--color-white);
  padding: 0.7rem 4.7rem;
}

.find-out-link {
  padding: 0.7rem;
  margin-inline-start: 1.4rem;
}

@keyframes jump {
  0% {
    transform: translateY(0.5rem);
  }
  35% {
    transform: translateY(-0.5rem);
  }
  70% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.bio--arrow {
  display: inline-block;
  animation: jump 1s infinite alternate ease-in-out;
}

.bio--bic-content {
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-self: end;
}

.bio--bic-content::before {
  content: "";
  position: absolute;
  background-color: var(--color-box-img);
  width: 100%;
  height: 46rem;
  z-index: -1;
  border-radius: 1.8rem;
  box-shadow: 2.17543px 8.7017px 38.0699px black;
}

.bio--pic {
  width: 42.7rem;
}
/* end bio*/

/* skills */

.skills--list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 5rem;
}

.skills--item {
  transition: var(--transition-timing);
  user-select: none;
  font-size: 40px;
  font-weight: bold;
}

.skills--title {
  font-size: var(--font-size-38);
  font-weight: var(--font-weight-semi-bold);
}

.skills--years {
  display: inline-block;
  font-size: var(--font-size-20);
  margin-top: 1rem;
  font-weight: normal;
}

.skills--item::hover {
  text-shadow: 0 0 2px var(--color --color-green);
}

/*end skills*/

/* media*/

.media {
  align-items: center;
  justify-content: center;
}

.media--video {
  max-width: 100%;
}

/* end media */

/* projects*/

.projects--main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 7.4rem;
  row-gap: 7.5rem;
}

.projects--img {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.7);
  width: 50%;
  height: auto;
  max-width: 100%;
}

.projects-data {
  align-self: center;
}

.projects-discription {
  line-height: 1.5;
}

.projects--links {
  color: var(--color-darker-blue);
  font-family: var(--font-family-poppins);
  font-weight: var(--font-weight-medium);
  padding-top: 2.3rem;
}

.projects--links::after {
  content: "";
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  background-image: url(./images/external-icon.png);
  background-size: contain;
  margin-left: 0.6rem;
}

/*  end projects*/

/* clients */

.clients--opinions {
  grid-column: 1/-1;
  font-size: var(--font-size-40);
  line-height: 1.7;
}

.clients--wrapper {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.clients--opinion {
  flex-basis: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
}

/* end clients */

/* contact*/

.contact {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20rem;
  align-items: center;
}

.contact--contact--description {
  font-size: var(--font-size-20);
  line-height: 1.9;
}

.contact--email {
  font-weight: var(--font-weight-bold);
  margin: 2.5rem 0;
}

.contact--social {
  transition: var(--transition-timing);
}

.contact--social:hover {
  transform: scale(1.2);
}

.contact--inputs {
  display: flex;
  gap: 3rem;
}

.contact--input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 0.1rem solid var(--color-input-border);
  flex: 1;
}

.contact--textarea {
  width: 100%;
  margin-top: 4rem;
}

.contact--buttom {
  background-color: var(--color-link-bg);
  color: var(--color-white);
  font-weight: var(--font-weight-medium);
  padding: 1.7rem 1.8rem;
  font-size: var(--font-size-24);
  margin-bottom: 3.4rem;
}

form:invalid::after {
  content: "*";
  font-size: var(--font-size-38);
  color: var(--color-red);
}

/* end contact*/

/* footer*/

.footer {
  padding: 1rem 0;
  font-family: var(--font-size-15);
  border-top: 0.1rem solid var(--color-black);
}

/* end footer */

.projects-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 7.4rem;
  row-gap: 7.5rem;
}

.projects-img {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.7);
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 1.5rem;
}

.projects-data {
  align-self: center;
}

.projects-description {
  line-height: 1.5;
  align-self: center;
  padding-left: 1.5rem;
  font-size: 33px;
}

/* theme*/

html:has(.toggle--checkbox:checked) {
  --color-background: var(--color-black);
  --color-text: var(--color-white);
  --color-box-img: var(--color-green);
  --color-link-bg: var(--color-green);
  --color-grey: #080808;
  --color-input-border: var(--color-white);
}

/* emd theme*/

/* responsive*/

@media (max-width: 1000px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 800px) {
  .container {
    row-gap: 8rem;
  }

  .section {
    grid-template-columns: 1fr;
  }

  .bio--bic-content {
    grid-row: 1;
    justify-self: center;
    margin-bottom: 4rem;
  }

  .skills--list {
    grid-template-columns: repeat(2 1fr);
  }

  .certificates section {
    grid-template-columns: 1fr;
    row-gap: 6rem;
    justify-items: center;
  }

  .projects--main {
    grid-template-columns: 1fr;
    row-gap: 6rem;
    justify-items: center;
  }

  .projects-data:nth-of-type(2) {
    order: 1;
  }

  .clients--opinion {
    font-size: var(--font-size-24);
  }

  .contact {
    row-gap: 6rem;
  }

  .contact--formcontent {
    order: -1;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 0;
  }

  .header::before {
    z-index: 0;
  }
  .bio--pic {
    width: 100%;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 0.75rem;
    z-index: 0;
    align-self: center;
  }

  .burger-menu--bar {
    height: 0.3rem;
    width: 4.375rem;
    background-color: var(--color-text);
    transition: var(--transition-timing);
  }

  .header:has(.burger-menue--checkbox:checked) .burger-menu--bar:nth-child(1) {
    transform: translateY(10px) rotate(40deg);
  }

  .header:has(.burger-menue--checkbox:checked) .burger-menu--bar:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }

  .header:has(.burger-menue--checkbox:checked) .burger-menu--bar:nth-child(3) {
    transform: translateY(-7px) rotate(-40deg);
  }

  .burger-menue--checkbox:checked + .navigation {
    top: 100%;
  }

  .navigation--list {
    justify-content: center;
  }

  .navigation {
    position: absolute;
    width: 100vw;
    background-color: var(--color-background);
    top: 0;
    padding: 3rem 0;
    border-bottom: 0.1rem solid var(--color-text);
    z-index: -1;
  }

  .toggle {
    padding: 3rem 0;
    z-index: 1;
  }
}
